html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 85%;
    height: 85%;
    display: flex;
    margin: 0 auto;
    background-color: rgb(255, 255, 255);
}
.main { 
    display: flex;
    flex-direction: column;
    width: 85% ;
    height: 50%;
    padding-left: 0%;

    
}
.menu {

    display: flex;
    flex-direction: column;
    max-width: fit-content;
    background-color: rgb(172, 172, 252);
    padding: 10px 0px 0px 20px;
    font-size: large;
    height: auto;
    max-height: 100%;
    }
    
    
.header {
    
    align-content: center;
    justify-content: center;
    display: flex;
    padding: 20px 0px 0px 0px;
    width: 85%;
    height: auto;
    scale: calc(0.3);
    
}
.header-contato {
    display: flex;
    flex-wrap: nowrap;
}
.content {
    flex-wrap: nowrap;
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    justify-content:space-between;
    background-color: white;
    max-width: 85%;
    padding:  20px 20px 20px 70px ;
    font-size: 25px;

    
}

.horario-atendimento-titulo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    background-image: url(quadro-horario.png);
    background-size: 800px 650px;
    background-repeat: no-repeat;
    background-position: center;
    width: 1000px;
    height: 600px;
    padding-left: 80px;
}
.tabela-horario {
    
    margin-left: 100px;
    margin-top: 100px;
    font-size: 30px;
    font-weight: bold;
    width: 500px;
    height: 380px;
    margin-top: 15px;
    
}
td, th {   
    text-justify: auto;
    text-align: start;
    padding: 2px;
    
}

.localização {
    padding-right: 50px;
    
}
.localização1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;

}
.content-contato-titulo {
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
}
.footer {
    display: flex;
    align-items:center;
    justify-content: space-between;
    background-color: rgb(95, 113, 170);
    min-height: 30px;
    text-align: end;
    padding: 10px 20px 0px 50px
}


.links {
width: fit-content;
padding: 50px 0px 50px 0px;
line-height: 30px ;
color: red;
}
.links2:hover{
    color: pink
}

.content-contato-titulo {
    display: flex;
    align-content: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    align-self: center;
}

form.contato {
    display: flex;
    flex-direction: column;
    font-size: 18px;
    margin-top: 20px;
}

form.contato input {
    margin-bottom: 0px;
    padding: 0px;
    font-size: 16px;
    width: 300px;
}   
.botoes {
    display: flex;
    flex-direction: column;
    width: 100px;
    height: 30px;
    background-color: rgb(22, 37, 172);
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 25px;
    cursor: pointer;

}
.botoes-contato {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;    
}
.botoes:hover {
    background-color: rgb(33, 201, 33);
}

.sobre-clinica {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 24px;
        margin-bottom: 20px;
    margin-top: 20px;
}

.sobre-clinica-texto {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
    text-align: justify;
}
.fotos-clinica {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-top: 20px;
}
.fotos-clinica2{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20;
}
