html, body {
    margin: 0;
}
body {
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
}

.wrapper {
    width: 1200px;
    min-height: 100%;
    
    display: flex;
    margin: 0 auto;
    background-color:#f1f1f1;
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    display: flex;
    flex-direction: column;
    align-items: start ;
    justify-content: space-between;
    width: 20%;
    background-color: rgb(109, 166, 241);
    padding: 10px 20px 10px;
    line-height: 30px;
}
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 150px;
    background-color: white;
}

.content-pagina-principal {
    justify-content: center;
    text-align: justify;
    background-color: white;
    min-height: 300px;
    padding: 50px;
    text-indent: 2em    ;
}
.content-pagina-contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: justify;
    background-color: white;
}
.mapa-formulario {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.mapa{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    margin-left: 50px;
}
.content-horario{
    background-color: white;
}

.tabela-horario {
    
    align-items: center;
    justify-content: center;
    border-collapse: collapse;
    border: gray 2px solid;
    width: 80%;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 100px;
     td:nth-child(odd) {
        background-color: #b1c9ee;
     }
     td:nth-child(even) {
        background-color: #b0f7c2;
     }
        
    }

td, th {background-color: rgba(7, 59, 156, 0.582);}


.footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(109, 166, 241);
    min-height: 30px;
    font-size: 12px;
}
.fotos123 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}
.fotos23 img {
    display: flex;
    flex-direction: column;
    width: 335px;
}